/* BrokerMQTT.module.scss */

.Main {
    justify-content: center;

}

.MQTTContainer {
    margin-top: 20px;
}

.client_container {
    display: grid;
    grid-template-rows: auto 1fr;
    /* Thẻ h2 sẽ chiếm dòng đầu, connect và action chiếm hàng thứ hai */
    align-items: center;
    gap: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 100%;
    height: auto;
}

.connect_action_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Chia đều hai phần connect và action */
    gap: 20px;
}

.connect_container,
.action_container {
    border: 2px solid #a39f9f;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status_connection {
    margin-bottom: 10px;
    font-weight: bold;
}

.connected {
    color: green;
}

.disconnected {
    color: red;
}

.input_container {
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 5px 10px;
    border: 1px solid #928b8b;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    padding: 8px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

textarea {
    width: 100%;
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #928b8b;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5;
    resize: none;
}

//// dashboard
// Biến
$primary-color: #007bff;
$secondary-color: #6c757d;

// Mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Lớp
.header {
    background-color: $primary-color;
    color: white;
    padding: 10px;
}

.footer {
    background-color: $secondary-color;
    color: white;
    padding: 10px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.DashBoardContainer {
    margin-top: 20px;
    gap: 20px;
    display: block;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    width: 80%;
    max-width: 100%;
    height: auto;

    .Container {
        border: 2px solid #a39f9f;
        border-radius: 8px;
        padding: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;

        .MainContainer {
            display: block;
            flex-direction: column;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            align-items: center;
            text-align: center;

            h3 {
                margin: 0;
                text-align: center;
                margin-bottom: 20px;
                margin-top: 30px
            }

            .SensorGrid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 10px;
                border: 2px solid #ccc;
                border-radius: 10px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-bottom: 30px;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                max-width: 100%;
                height: auto;
            }
        }

        .ChartContainer {
            h3 {
                margin: 0;
                text-align: center;
                margin-bottom: 20px;
                margin-top: 30px;
            }

            .ChartGrid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 20px;
                border: 2px solid #ccc;
                border-radius: 10px;
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-bottom: 30px;
                margin-left: auto;
                margin-right: auto;
                width: 90%;

                .Chart {
                    border: 2px solid #a39f9f;
                    border-radius: 10px;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
                    padding: 10px;
                    text-align: center;
                    width: 200px;
                }
            }
        }
    }
}

.Block {
    border: 2px solid #a39f9f;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    .Info {
        margin-top: 10px;
    }
}

.Block:hover {
    transform: translateY(-4px);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}