// report
.StudentInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.StudentInfo p {
    margin: 0;
}

.StudentInfo:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.Pagination {
    text-align: center; /* Căn giữa các nút */
}

.Pagination button {
    margin: 0 5px; /* Khoảng cách giữa các nút */
    padding: 5px 10px; /* Kích thước nút */
    border: 1px solid #ccc; /* Đường viền nút */
    background-color: #007bff;
    cursor: pointer;
}

.Pagination button:hover {
    background-color: #0056b3;
}


.ShowReportContainer,
.StudentInfoContainer,
.ReportContainer {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    .FormContainer {
        width: 100%;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;



        .SubmitContainer {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }

        .SubmitContainer button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .SubmitContainer button:hover {
            background-color: #0056b3;
        }
    }
}